html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
@media print{
    .peoples-print,
    .navbar-header,
    .breadcrumb,
    .peoples-print-button,
    .footer{
        display: none;
    }
}
.navbar-inverse {
    background-color: #5499C9;
    border-color: #366FA5;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #366FA5; 
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: bolder;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.people_view_list{
    list-style-type: none;
    margin-left: -40px;
}
.flu_res_div{
    width: 126px;
    height: 126px;
    margin-top: -36px;
    margin-left: -3px;
    text-align: center;
    border-radius: 3px;
    padding-top: 30px;
}
.flu_norm{
    background-color: #5CB85C;
}
.flu_patology{
    background-color: #D9534F;
}
.fluTitle{
    margin: 5px;
}
.flu_res_div .glyphicon{
    font-size: 50px;
    color: #fff;
}
.people_view_list .glyphicon{
    color: #366FA5;
}
.nb{
    border: 0px;
}
.ills h4,
.grafts h4{
    margin: 5px;
}
.ills li,
.grafts li{
    margin: 3px 0px 0px 6px;
}
.peopleBlock{
    height: 300px;
}
.findBlock{
    height: 300px;
}
.illBlock,
.graftBlock,
.workBlock,
.streetBlock{
    height: 140px;
}
.bl{
    text-align: center;
    padding-top: 30%;
    background-color: #5499C9;
    color: #fff;
}
.bl .glyphicon,
.bl a{
    color: #fff;
}
.bl .glyphicon-user,
.findBlock .bs{
    font-size: 50px;
}
.strLink{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.mpTools{
    position: absolute;
    top: 10px;
    right: 30px;
}
.glyphicon-exclamation-sign,
.glyphicon-check,
.glyphicon-cog,
.glyphicon-home{
    font-size: 30px;
}
.mainTitle{
    margin: 10px;
}
.mainpage{
    background-color: #F1F1F1;
}